body{
    color:black;
    font-size:2em;
    overflow-x:inherit;
}
.navb{
    background-color: #adadad;
    border-radius:0px;
}
.navbar-brand a{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.3em;
    color:black;
}
.menu{
    text-align: center;
    font-weight: bold;
    margin-bottom: 1em;
}
.data{
    background-color: #adadad;
    padding:1em;
    max-width:100%;
    margin:1em;
}
.main-head{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
.btn{
    color:black;
}
.navbar-nav li a{
    color:black;
}
.navbar-default .navbar-nav li a{
    color:black;
    text-align: center;
}
.navbar-default .navbar-nav li{
    border-bottom: 1px solid black;
}
.navbar-nav{
    margin-bottom: 0px;
}
.navbar-default .navbar-toggle{
    border-color:black;
    background-color:#adadad;
}
.navbar-default .navbar-toggle:active, .navbar-default .navbar-toggle:hover{
    border-color: #fff;
}
#header-nav{
    border-top:1px solid black;
    border-bottom:1px solid black;
}